{
  "openapi": "3.1.0",
  "info": {
    "title": "BTCFi API",
    "version": "3.0.0",
    "description": "Bitcoin data, intelligence, security, Solv Protocol, and ZK proofs for AI agents via x402 micropayments",
    "contact": { "name": "AI Indigo", "email": "ai@aiindigo.com", "url": "https://aiindigo.com" },
    "license": { "name": "MIT", "url": "https://opensource.org/licenses/MIT" }
  },
  "servers": [{ "url": "https://btcfi.aiindigo.com", "description": "Production" }],
  "paths": {
    "/api/v1/fees": {
      "get": {
        "tags": ["Core"],
        "summary": "Get fee estimates",
        "description": "Current Bitcoin fee rates with USD estimates. $0.01 USDC.",
        "responses": {
          "200": { "description": "Fee data", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FeeResponse" } } } },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/api/v1/mempool": {
      "get": {
        "tags": ["Core"],
        "summary": "Get mempool summary",
        "description": "Mempool tx count, size, fee histogram, recent txs. $0.01 USDC.",
        "responses": { "200": { "description": "Mempool data" }, "402": { "$ref": "#/components/responses/PaymentRequired" } }
      }
    },
    "/api/v1/address/{addr}": {
      "get": {
        "tags": ["Core"],
        "summary": "Get address info",
        "description": "Balance, tx count, funded/spent stats. $0.01 USDC.",
        "parameters": [{ "name": "addr", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Bitcoin address" }],
        "responses": { "200": { "description": "Address info" }, "402": { "$ref": "#/components/responses/PaymentRequired" } }
      }
    },
    "/api/v1/address/{addr}/utxos": {
      "get": {
        "tags": ["Core"],
        "summary": "Get UTXOs",
        "description": "Unspent transaction outputs for address. $0.01 USDC.",
        "parameters": [{ "name": "addr", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "UTXO list" }, "402": { "$ref": "#/components/responses/PaymentRequired" } }
      }
    },
    "/api/v1/address/{addr}/txs": {
      "get": {
        "tags": ["Core"],
        "summary": "Get address transactions",
        "parameters": [{ "name": "addr", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Transaction list" }, "402": { "$ref": "#/components/responses/PaymentRequired" } }
      }
    },
    "/api/v1/tx/{txid}": {
      "get": {
        "tags": ["Core"],
        "summary": "Get transaction details",
        "parameters": [{ "name": "txid", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Transaction details" }, "402": { "$ref": "#/components/responses/PaymentRequired" } }
      }
    },
    "/api/v1/tx/{txid}/status": {
      "get": {
        "tags": ["Core"],
        "summary": "Get transaction status",
        "parameters": [{ "name": "txid", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Confirmation status" }, "402": { "$ref": "#/components/responses/PaymentRequired" } }
      }
    },
    "/api/v1/tx/broadcast": {
      "post": {
        "tags": ["Core"],
        "summary": "Broadcast transaction",
        "description": "Broadcast signed Bitcoin tx. $0.05 USDC.",
        "requestBody": { "content": { "application/json": { "schema": { "type": "object", "properties": { "txHex": { "type": "string" } }, "required": ["txHex"] } } } },
        "responses": { "200": { "description": "Broadcast result" }, "402": { "$ref": "#/components/responses/PaymentRequired" } }
      }
    },
    "/api/v1/block/latest": {
      "get": {
        "tags": ["Core"],
        "summary": "Get latest blocks",
        "parameters": [{ "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10 } }],
        "responses": { "200": { "description": "Block list" }, "402": { "$ref": "#/components/responses/PaymentRequired" } }
      }
    },
    "/api/v1/block/{id}": {
      "get": {
        "tags": ["Core"],
        "summary": "Get block by height or hash",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Block data" }, "402": { "$ref": "#/components/responses/PaymentRequired" } }
      }
    },
    "/api/v1/intelligence/consolidate/{addr}": {
      "get": {
        "tags": ["Intelligence"],
        "summary": "UTXO consolidation advice",
        "description": "Analyze dust UTXOs and optimal timing. $0.02 USDC.",
        "parameters": [{ "name": "addr", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Consolidation advice" }, "402": { "$ref": "#/components/responses/PaymentRequired" } }
      }
    },
    "/api/v1/intelligence/fees": {
      "get": {
        "tags": ["Intelligence"],
        "summary": "AI fee prediction",
        "description": "Fee predictions for 1h, 6h, 24h windows. $0.02 USDC.",
        "responses": { "200": { "description": "Fee predictions" }, "402": { "$ref": "#/components/responses/PaymentRequired" } }
      }
    },
    "/api/v1/intelligence/whales": {
      "get": {
        "tags": ["Intelligence"],
        "summary": "Whale alerts",
        "description": "Detect large Bitcoin transactions. $0.02 USDC.",
        "responses": { "200": { "description": "Whale transactions" }, "402": { "$ref": "#/components/responses/PaymentRequired" } }
      }
    },
    "/api/v1/intelligence/risk/{addr}": {
      "get": {
        "tags": ["Intelligence"],
        "summary": "Address risk score",
        "parameters": [{ "name": "addr", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Risk analysis" }, "402": { "$ref": "#/components/responses/PaymentRequired" } }
      }
    },
    "/api/v1/intelligence/network": {
      "get": {
        "tags": ["Intelligence"],
        "summary": "Network health",
        "description": "Hashrate, difficulty, congestion analysis. $0.02 USDC.",
        "responses": { "200": { "description": "Network health data" }, "402": { "$ref": "#/components/responses/PaymentRequired" } }
      }
    },
    "/api/v1/security/threat/{addr}": {
      "get": {
        "tags": ["Security"],
        "summary": "Threat analysis",
        "description": "YARA-pattern threat detection. $0.02 USDC.",
        "parameters": [{ "name": "addr", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Threat analysis" }, "402": { "$ref": "#/components/responses/PaymentRequired" } }
      }
    },
    "/api/v1/solv/reserves": {
      "get": { "tags": ["Solv Protocol"], "summary": "SolvBTC reserves", "description": "Supply across chains, backing ratio, TVL. $0.02.", "responses": { "200": { "description": "Reserves data" }, "402": { "$ref": "#/components/responses/PaymentRequired" } } }
    },
    "/api/v1/solv/yield": {
      "get": { "tags": ["Solv Protocol"], "summary": "xSolvBTC yield", "description": "APY, strategies, comparisons. $0.02.", "responses": { "200": { "description": "Yield data" }, "402": { "$ref": "#/components/responses/PaymentRequired" } } }
    },
    "/api/v1/solv/liquidity": {
      "get": {
        "tags": ["Solv Protocol"], "summary": "Cross-chain liquidity",
        "parameters": [{ "name": "chain", "in": "query", "schema": { "type": "string", "enum": ["ethereum", "bnb", "arbitrum"] } }],
        "responses": { "200": { "description": "Liquidity data" }, "402": { "$ref": "#/components/responses/PaymentRequired" } }
      }
    },
    "/api/v1/solv/risk": {
      "get": { "tags": ["Solv Protocol"], "summary": "Risk assessment", "responses": { "200": { "description": "Risk data" }, "402": { "$ref": "#/components/responses/PaymentRequired" } } }
    },
    "/api/v1/zk/balance-proof": {
      "post": {
        "tags": ["ZK Proofs"], "summary": "Generate balance proof", "description": "Prove balance >= threshold. $0.03.",
        "requestBody": { "content": { "application/json": { "schema": { "type": "object", "properties": { "address": { "type": "string" }, "threshold": { "type": "number" }, "unit": { "type": "string", "enum": ["btc", "sats"] } }, "required": ["address", "threshold"] } } } },
        "responses": { "200": { "description": "ZK proof" }, "402": { "$ref": "#/components/responses/PaymentRequired" } }
      }
    },
    "/api/v1/zk/age-proof": {
      "post": {
        "tags": ["ZK Proofs"], "summary": "Generate age proof", "description": "Prove UTXOs older than N blocks. $0.03.",
        "requestBody": { "content": { "application/json": { "schema": { "type": "object", "properties": { "address": { "type": "string" }, "minBlocks": { "type": "number" } }, "required": ["address", "minBlocks"] } } } },
        "responses": { "200": { "description": "ZK proof" }, "402": { "$ref": "#/components/responses/PaymentRequired" } }
      }
    },
    "/api/v1/zk/membership": {
      "post": {
        "tags": ["ZK Proofs"], "summary": "Generate membership proof",
        "requestBody": { "content": { "application/json": { "schema": { "type": "object", "properties": { "address": { "type": "string" }, "setRoot": { "type": "string" }, "merkleProof": { "type": "array", "items": { "type": "string" } } }, "required": ["address", "setRoot", "merkleProof"] } } } },
        "responses": { "200": { "description": "ZK proof" }, "402": { "$ref": "#/components/responses/PaymentRequired" } }
      }
    },
    "/api/v1/zk/verify": {
      "post": {
        "tags": ["ZK Proofs"], "summary": "Verify proof", "description": "$0.01.",
        "requestBody": { "content": { "application/json": { "schema": { "type": "object", "properties": { "proofType": { "type": "string" }, "proof": { "type": "object" }, "publicInputs": { "type": "array", "items": { "type": "string" } } }, "required": ["proofType", "proof", "publicInputs"] } } } },
        "responses": { "200": { "description": "Verification result" }, "402": { "$ref": "#/components/responses/PaymentRequired" } }
      }
    },
    "/api/v1/stream": {
      "get": { "tags": ["Streams"], "summary": "SSE event stream", "description": "Blocks, fees, mempool events.", "responses": { "200": { "description": "SSE stream" } } }
    },
    "/api/v1/stream/whales": {
      "get": {
        "tags": ["Streams"], "summary": "Whale alert stream",
        "parameters": [{ "name": "min", "in": "query", "schema": { "type": "number", "default": 100 }, "description": "Min BTC" }],
        "responses": { "200": { "description": "SSE whale alerts" } }
      }
    },
    "/api/v1/staking/status": {
      "get": { "tags": ["System"], "summary": "Staking status (free)", "parameters": [{ "name": "address", "in": "query", "schema": { "type": "string" } }], "responses": { "200": { "description": "Staking tier" } } }
    },
    "/api/health": {
      "get": { "tags": ["System"], "summary": "Health check (free)", "responses": { "200": { "description": "Health status" } } }
    },
    "/api/v1": {
      "get": { "tags": ["System"], "summary": "API index (free)", "responses": { "200": { "description": "Full API listing" } } }
    }
  },
  "components": {
    "schemas": {
      "FeeResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "fees": { "type": "object", "properties": { "recommended": { "$ref": "#/components/schemas/RecommendedFees" } } },
          "estimate": { "type": "object" },
          "price": { "type": "object", "properties": { "btcUsd": { "type": "number" }, "btcEur": { "type": "number" } } }
        }
      },
      "RecommendedFees": {
        "type": "object",
        "properties": {
          "fastestFee": { "type": "integer" },
          "halfHourFee": { "type": "integer" },
          "hourFee": { "type": "integer" },
          "economyFee": { "type": "integer" },
          "minimumFee": { "type": "integer" }
        }
      }
    },
    "responses": {
      "PaymentRequired": {
        "description": "x402 Payment Required",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "code": { "type": "integer", "example": 402 },
                "message": { "type": "string" },
                "paymentRequirements": {
                  "type": "object",
                  "properties": {
                    "scheme": { "type": "string" },
                    "network": { "type": "string" },
                    "maxAmountRequired": { "type": "string" },
                    "payTo": { "type": "string" },
                    "asset": { "type": "string" },
                    "facilitator": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "x402": { "type": "apiKey", "in": "header", "name": "X-Payment", "description": "x402 payment proof" },
      "walletSignature": { "type": "apiKey", "in": "header", "name": "X-Signature", "description": "Wallet signature for higher rate limits" }
    }
  },
  "tags": [
    { "name": "Core", "description": "Bitcoin blockchain data" },
    { "name": "Intelligence", "description": "AI-powered analysis" },
    { "name": "Security", "description": "Threat detection" },
    { "name": "Solv Protocol", "description": "BTCFi DeFi data" },
    { "name": "ZK Proofs", "description": "Zero-knowledge proofs" },
    { "name": "Streams", "description": "Real-time SSE" },
    { "name": "System", "description": "Health & status" }
  ]
}
